p {
 font-size: 12px;
}

.contenedor {
display: flex;
judtify-content: space-between;
flex-wrap: wrap;
}

.seccion {
border: solid 2px cyan;
border-radius: 10px;
padding: 10px;
margin: 10px;
border: solid 2px darkBlue;
width: 435px;
}

#foto {
width: 150px;
height: 150px;
border: solid 5px #000;
border-radius: 100%;
margin-top: 3px;
}
