p {
 font-size: 12px;
}

.contenedor {
display: flex;
judtify-content: space-between;
flex-wrap: wrap;
}

.seccion {
border-radius: 10px;
padding: 10px;
margin: 10px;
border: solid 2px darkBlue;
width: 435px;
}

.seccion:hover {
background-color: #A9F5E1;
}

#foto {
width: 120px;
height: 120px;
border: solid 5px darkBlue;
border-radius: 100%;
margin-top: 3px;
}

#foto:hover {
width: 200px;
height: 200px;
border-radius: 100%;
border: solid 5px darkBlue;
margin-top: 3px;
}

.contacto {
margin: 12px;
}

.medio {
font-size: 13px;
width: 95%;
background-color: #A9F5BC;
border-radius: 10px;
padding: 12px;
}

.medio:hover {
font-size: 18px;
background-color: #A9E2F3;
padding: 15px;
}

a {
text-decoration: none;
}
